<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="assets/img/Logo_UOH.png" class="img-responsive" width="100px;">
            </a>
            <button aria-expanded="false" class="navbar-toggle collapsed style-collapsed my-button-nav" data-target="#navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-right visible-xs visible-sm" href="#">
                <img alt="Brand" src="assets/img/logo_GORE_OH.png" height="100%">
            </a>
        </div>
        <div class="collapse navbar-collapse " id="navbar-collapse">
            <ul class="nav navbar-nav ">
                <li><a href="#conference">Conference</a></li>
                <li><a class="link-uoh" href="#venue">Venue</a></li>
                <li><a  class="link-uoh" href="#invited-speakers">Speakers</a></li>
                <li><a class="link-uoh" href="#conference1">ADMISION 2018</a></li>
                <li><a  class="link-uoh" href="#invited-speakers">About us</a></li>
                <li><a  class="link-uoh" href="#invited-speakers">Contacto</a></li>
            </ul>

            <a class="navbar-brand pull-right hidden-xs hidden-sm" href="#">
                <img alt="Brand" src="logo_cmm.png" height="100%">
            </a>
        </div>
    </div>
</nav>
<!-- Navbar -->

<!-- Header -->
<header class="header">
    <div class="body-style"></div>
    <div class="canvas-uoh col-xs-12 col-sm-12 col-md-4 col-md-offset-1">
        <div class="container-img">
            <div class="col-md-6">
                <img src="assets/img/Logo_UOH.png" alt="uoh" class="img-responsive">
            </div>
            <div class="col-md-6 text-center">
                <img src="assets/img/logo_GORE_OH.png" alt="uoh" class="img-responsive " width="120" style="margin:auto;">
            </div>
        </div>
        <nav class="menu">
            <ul class="options-menu col-md-offset-12">
                <li><a href="#conference">Conference</a></li>
                <li><a class="link-uoh" href="#venue">Venue</a></li>
                <li><a  class="link-uoh" href="#invited-speakers">Speakers</a></li>
                <li><a class="link-uoh" href="#conference1">ADMISION 2018</a></li>
                <li><a  class="link-uoh" href="#invited-speakers">About us</a></li>
                <li><a  class="link-uoh" href="#invited-speakers">Contacto</a></li>
            </ul>
            <div class="container-fluid no-margin">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown my-navbar-toggle">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="content-section">
            <article class="text-left">
                <h1 class="title-site"><strong>Mini-workshop on Optimization and Variational analysis</strong></h1>
                <p class="style-paragraph">18-22 de Noviembre, Universidad de O’Higgins, Campus Rancagua. Lorem ipsum dolor sit amet, consectetur adipisicing elit. consectetur adipisicing elit.</p>
            </article>
            <div class="col-md-12 no-padding">
                <div class="boton">
                    <a href="#content" class="link-see">Ver más</a>
                </div>
            </div>
        </section>
    </div>
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">WHO</a></li>
        <li><a href="#">WHAT</a></li>
        <li><a href="#">WHERE</a></li>
      </ul>
    </div> -->
</header>


<!--Content Site -->
<div class="container-fluid bg-1" id="content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-12">
                    <!-- <img src="http://www.principia-malaga.com/p/images/NOTICIAS/Acercate%20a%20la%20Ciencia%20-%20Imagen%20WEB.jpg" alt="ciencia" class="img-responsive" style="margin: auto;"> -->
                </div>
                <div class="col-md-12">
                    <h1>Conference</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium natus commodi quidem ea illo distinctio dolorum iste, doloremque, ratione minus laborum vitae possimus necessitatibus impedit repudiandae deleniti quia labore.</p>

                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium natus commodi quidem ea illo distinctio dolorum iste, doloremque, ratione minus laborum vitae possimus necessitatibus impedit repudiandae deleniti quia lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed iste quia ipsam cumque, cupiditate reiciendis illum atque, veniam totam officia debitis tempora magni, accusantium accusamus harum quasi laudantium eaque.</p>
                        </div>
                        <!-- <div class="col-md-4">
                            <img src="https://fortunedotcom.files.wordpress.com/2018/07/gettyimages-961697338.jpg" alt="" class="img-responsive" style="margin: auto;">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- First Container to Sponsors -->
<div class="container-fluid bg-4 text-center">
    <!-- <h3 class="margin">Sponsors</h3>
    <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>I'm an adventurer</h3> -->
    <div class="container">
        <h2>Auspician</h2>
        <section class="customer-logos slider" style="margin-bottom: 30px;">
            <div class="slide"><img src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div>
        </section>
    </div>
</div>
<!-- Second Container to additional information-->
<div class="container-fluid bg-2 text-left">
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <div class="row">
                <div class="col-md-4">
                    <h3>Contacto</h3>
                    <p>Emilio Vilches</p>
                    <p>emilio.vilches@uoh.cl</p>
                    <p>Universidad de O'Higgins, Rancagua</p>
                </div>
                <div class="col-md-4">
                    <h3>Acerca de Nosotros</h3>
                    <p>Emilio Vilches</p>
                    <p>emilio.vilches@uoh.cl</p>
                    <p>Universidad de O'Higgins, Rancagua</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>Ubicación</h3>
            <iframe
                width="100%"
                height="200"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtorgELXlY9Np4lcQ-5IMPfK0nJvZPxeM
                            &q=Avenida Libertador Bernardo O'Higgins 1058, Santiago" allowfullscreen>
            </iframe>
        </div>
    </div>
    <!-- <img src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_960_720.png" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="200" height="200"> -->
</div>
<!-- Footer -->
<footer class="container-fluid bg-3 text-center">
    <p>©2018 <a href="https://www.uoh.cl">Universidad de O'Higgins</a></p>
</footer>

<!-- <header>
    <div class="body-style">
        <div class="container-fluid">
            <div class="style-header">
                <div class="row">
                    <div class="rectangulo col-xs-12 col-md-4 col-md-offset-1 ">
                        <div class="container-img">
                            <img src="LOGO_CABECERA.png" alt="uoh" class="img-responsive">
                        </div>
                    </div>
                    <nav class="menu col-md-offset-1 col-md-4 ">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav navbar-right ">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Hamburger 1</a></li>
                                        <li><a href="#">Hamburger 2</a></li>
                                        <li><a href="#">Hamburger 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <section class="style-section col-md-4 col-md-offset-1">
                        <article class="text-left">
                            <h1><strong>Mini-workshop on Optimization and Variational analysis</strong></h1>
                            <p class="style-paragraph">18-22 de Noviembre, Universidad de O’Higgins, Campus Rancagua. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit enim aliquam obcaecati molestias assumenda perferendis illum similique, sunt aut tenetur natus distinctio mollitia quo tempore excepturi officia vero, non vitae.</p>
                        </article>
                        <div class="col-md-12 no-padding">
                            <div class="boton">
                                <a href="#" class="link-see">Ver más</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header> -->
<!-- <section class="content">
</section>
<footer class="footer col-md-12 ">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-6 info-footer" >
                <p class="transform-upper">Contacto</p>
                <hr class="separador-hr-footer">
                <span><i class="fa fa-user"></i><br></span>
                <span><i class="fa fa-envelope"></i><br></span>
                <span><i class="fa fa-phone"></i><br></span>
                <span><i class="fa fa-building"></i></span>
            </div>
        </div>
        <div class="col-md-6 logos-footer">
            <div class="col-md-12">
                <div class="customer-logos slider">
                    <div class="slide">
                       <a href="#"> <img src="" alt="" class="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 copyright">
          <p>©2018 Universidad de O'Higgins</p>
        </div>
    </div>
</footer> -->
